@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: "Recursive", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
