#chat-screen,
#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

#chat-screen header {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
}

.main-chat {
  z-index: 0;
}

.chat__timestamp {
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  align-self: center;
}

.message {
  margin: 10px 0;
  display: flex;
}

.message__column {
  display: flex;
}

.message__img {
  width: 45px;
  height: 45px;
  border-radius: 15px;
}

.message__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.message__name {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.message__list {
  display: flex;
  flex-direction: column;
}

.message__row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.message__comment {
  background-color: white;
  border-radius: 8px;
  border-top-left-radius: 0;
  padding: 5px 10px;
  font-size: 20px;
  margin-right: 5px;
}

.message__timestamp {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.message--self {
  display: flex;
  justify-content: flex-end;
}

.message--self .message__comment {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 8px;
  margin-left: 5px;
  margin-right: 0;
}

.message--self .message__row {
  flex-direction: row-reverse;
}

/* .chat__myself__comment {
  background-color: var(--yellow);
  border-radius: 8px;
  border-top-right-radius: 0;
  padding: 5px 10px;
  font-size: 20px;
  position: relative;
  margin-bottom: 5px;
}

.chat__myself {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chat__myself__timestamp {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: -50px;
} */

.write-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.write-message__plus {
  font-size: 25px;
  opacity: 0.7;
  width: 10%;
  display: flex;
  justify-content: center;
}

.write-message__input {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--main-border);
  border-radius: 20px;
  padding: 0 5px;
  background-color: var(--lightgrey);
  font-size: 25px;
}

.write-message__input input {
  width: 80%;
  border: none;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.write-message__input button {
  background-color: var(--yellow);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border: none;
}
