.chats-screen {
  display: flex;
  flex-direction: column;
}

.user-component__column {
  position: relative;
}

.chats__notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  font-weight: 600;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}
