.openchat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.openchat__column--left {
  display: flex;
  flex-direction: column;
}

.openchat__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.openchat__subtitle {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.openchat__details {
  display: flex;
  align-items: center;
}

.openchat__details .divider {
  width: 1px;
  height: 15px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.openchat__user-img {
  height: 20px;
  width: 20px;
  border-radius: 25%;
  border: var(--main-border);
  margin-right: 10px;
}

.openchat__member-number {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}

.openchat__member-status {
  color: hotpink;
}

.openchat__column--right {
  position: relative;
}

.openchat__main-img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.openchat__likes {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
  border-radius: 12px;
  padding: 7px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.openchat__border {
  border-top: var(--main-border);
  margin: 10px 0;
}
