.friends-name-display {
  background-color: var(--lightgrey);
  text-align: center;
  padding: 13px 0;
  font-size: 14px;
}

.friends-name-display span {
  margin: 0 5px;
}
.friends-name-display i {
  color: rgba(0, 0, 0, 0.2);
}
