.settings-setting {
  padding: 23px 0;
  border-bottom: var(--main-border);
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.setting-row__column i {
  margin-right: 10px;
  opacity: 0.9;
}

.setting-row__column:nth-child(2) {
  color: rgba(0, 0, 0, 0.4);
}
