.setting-header {
  margin: 15px var(--horizontal-space);
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-header i {
  font-size: 25px;
}

.setting-header__title {
  font-size: 23px;
  font-weight: 600;
}

.setting-row {
  padding: 23px 0;
  border-bottom: var(--main-border);
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.setting-row i {
  margin-right: 10px;
}

.setting-row__column:nth-child(2) {
  color: rgba(0, 0, 0, 0.4);
}
