.badge {
  width: 20px;
  height: 20px;
  background-color: tomato;
  display: block;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge--lg {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.badge--sm {
  width: 6px;
  height: 6px;
  position: absolute;
  right: -6px;
  top: -4px;
}
