.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 45px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--lightgrey);
}
.nav-bar__list {
  display: flex;
  justify-content: space-between;
}

.nav-bar__link {
  font-size: 25px;
  color: #30363e;
  position: relative;
}
