.status-bar {
  display: flex;
  justify-content: center;
  padding: 3px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.status-bar__column:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
