.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.user-component__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__avatar {
  width: 65px;
  height: 65px;
  border-radius: 25px;
  margin-right: 15px;
}
.user-component__avatar--xl {
  width: 75px;
  height: 75px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 18px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 600;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-commponent__subtitle {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.3);
}
